<h2>Logical Construct Provisioning Resolution</h2>
<div class="navigation">
  <a name="needs" href="<%= url_for(NeedList) %>">All Needs</a>
  <a name="resolved-needs" href="<%= url_for(NeedList, :only => "resolved") %>">Resolved Needs</a>
  <a name="unresolved-needs" href="<%= url_for(NeedList, :only => "unresolved") %>">Unresolved Needs</a>
  <a name="status" href="<%= url_for(Status) %>">Provisioning Status</a>
</div>
